<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://purecss.io/combo/1.18.13?/css/layouts/marketing.css">
    <link rel="stylesheet" href="/static/style.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} | 5117 Survey - Jackson Turner</title>
</head>
<body style="">
<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <ul class="pure-menu-list" style="float: left;">
        <li class="pure-menu-item"><a class="pure-menu-link" href="{{ url_for("home") }}">Home</a></li>
    </ul>
</div>
<div id="content" style="">{% block content %}{% endblock %}</div>

</body>
</html>
